<h1>Welcome to Taming the Teens</h1>
<h2>A way for families to get chores done.</h2>
<h3>Please Login</h3>
<form action="/login" method="GET">
  <input type="submit" value="Login"/>
</form>
<p>or</p>
<h3>Signup</h3>
<form action="/parents/signup" method="GET">
  <input type="submit" value="Signup a Parent"/>
</form>
<p>or</p>
<form action="/chidren/signup" method="GET">
  <input type="submit" value="Signup a Child"/>
</form>
