<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <%= yield %>
    <br><br>
  <hr>
  <form action="/" method="GET">
    <input type="submit" value="Home"/>
  </form>
  <br>
  <form action="/logout" method="GET">
    <input type="submit" value="Log Out"/>
  </form>
  </body>
</html>
